body {
    color: #fff;
    background-color: pink;
    text-align: center;
}

hr {
    border-width: 3px;
    border-style: solid;
    border-color: mediumseagreen;
}

#captura {
    width: 360px;
    height: 250px;
}